{{!-- {{#each blogs}}
<div class="blog-card"> {{! -- make this the body 'card' that holds the blog }}          
    <div class="blog-card-header"> 
        <h2>{{this.title}} by {{this.author}}</h2>
    </div>
    <div class="blog-body">
        <p>{{this.content}}</p>
    </div>
</div>
{{/each}} --}}

{{#each blogs}}
<div class="flex flex-column flex-nowrap justify-center"> 
    <div class="container">
        <div class="blog-header flex justify-between">
            <h3>{{title}}</h3>
            <h5>Posted by {{author}} on {{creation_date}}</h5>
        </div>
        <div>
            <p>{{content}}</p>
        </div>
    </div>
</div>
{{/each}}


    {{!-- {{#each blogs}}
<div class="container flex flex-col"> {{! -- make this the body 'card' that holds the blog }}          
    <div class="container"> 
        <h2 class="text-6xl m-7 w-auto h-auto">{{title}} by {{author}}</h2>
    </div>
    <div class="container w-auto h-auto">
        <p>{{content}}</p>
    </div>
    {{/each}}
</div> --}}